@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: karla;
}

@layer components {
  .btn-number {
    @apply bg-white flex-1 font-bold min-h-[2.5rem] rounded-lg text-[#2B283A];
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);

    &:active {
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
  }

  .held {
    @apply bg-[#048D3B] text-white;

    &:active {
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
  }

  .btn-main {
    @apply bg-[#5035FF] text-white rounded-lg py-2 w-full font-bold;

    &:hover {
      @apply bg-[#351ae4];
    }

    &:active {
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
  }

  .btn-reset {
    @apply bg-[#636363];

    &:hover {
      @apply bg-[#535353];
    }
  }
}
